<div class="container my-3  w-50">
  <h1 class="text-center h1 my-5">The Password Game</h1>

  <div class="form-group">
    <label class="form-label">Please choose a password</label>
    <div class="d-flex align-items-center">
      <textarea class="form-control col-10" rows="5" (input)="onPasswordChange($event)"></textarea>
      <span class="password-counter col-2 text-center">{{length}}</span>
    </div>
  </div>

  <div class="rules" *ngFor="let rule of actualRules">
    <app-rule
      [rule]="rule"
      [password]="password"
      (status) = "onStatusChange($event)"

    />
  </div>

</div>
